.icon-Symbol-BW-FIN { background-image: url('png/Symbol-BW-FIN.png'); background-repeat: no-repeat; }

.icon-Symbol-FIN { background-image: url('png/Symbol-FIN.png'); background-repeat: no-repeat; }

.icon-account_circle-blueMiddle { background-image: url('png/account_circle-blueMiddle.png'); background-repeat: no-repeat; }

.icon-account_circle-light { background-image: url('png/account_circle-light.png'); background-repeat: no-repeat; }

.icon-account_circle { background-image: url('png/account_circle.png'); background-repeat: no-repeat; }

.icon-add-blueMiddle { background-image: url('png/add-blueMiddle.png'); background-repeat: no-repeat; }

.icon-add-light { background-image: url('png/add-light.png'); background-repeat: no-repeat; }

.icon-add { background-image: url('png/add.png'); background-repeat: no-repeat; }

.icon-add_alert-blueMiddle { background-image: url('png/add_alert-blueMiddle.png'); background-repeat: no-repeat; }

.icon-add_alert-light { background-image: url('png/add_alert-light.png'); background-repeat: no-repeat; }

.icon-add_alert { background-image: url('png/add_alert.png'); background-repeat: no-repeat; }

.icon-apua { background-image: url('png/apua.png'); background-repeat: no-repeat; }

.icon-arrow_drop_down-blueMiddle { background-image: url('png/arrow_drop_down-blueMiddle.png'); background-repeat: no-repeat; }

.icon-arrow_drop_down-light { background-image: url('png/arrow_drop_down-light.png'); background-repeat: no-repeat; }

.icon-arrow_drop_down { background-image: url('png/arrow_drop_down.png'); background-repeat: no-repeat; }

.icon-arrow_drop_up-blueMiddle { background-image: url('png/arrow_drop_up-blueMiddle.png'); background-repeat: no-repeat; }

.icon-arrow_drop_up-light { background-image: url('png/arrow_drop_up-light.png'); background-repeat: no-repeat; }

.icon-arrow_drop_up { background-image: url('png/arrow_drop_up.png'); background-repeat: no-repeat; }

.icon-attach_file-blueMiddle { background-image: url('png/attach_file-blueMiddle.png'); background-repeat: no-repeat; }

.icon-attach_file-light { background-image: url('png/attach_file-light.png'); background-repeat: no-repeat; }

.icon-attach_file { background-image: url('png/attach_file.png'); background-repeat: no-repeat; }

.icon-chat_bubble-blueMiddle { background-image: url('png/chat_bubble-blueMiddle.png'); background-repeat: no-repeat; }

.icon-chat_bubble-light { background-image: url('png/chat_bubble-light.png'); background-repeat: no-repeat; }

.icon-chat_bubble { background-image: url('png/chat_bubble.png'); background-repeat: no-repeat; }

.icon-chevron_left-blueMiddle { background-image: url('png/chevron_left-blueMiddle.png'); background-repeat: no-repeat; }

.icon-chevron_left-light { background-image: url('png/chevron_left-light.png'); background-repeat: no-repeat; }

.icon-chevron_left { background-image: url('png/chevron_left.png'); background-repeat: no-repeat; }

.icon-chevron_right-blueMiddle { background-image: url('png/chevron_right-blueMiddle.png'); background-repeat: no-repeat; }

.icon-chevron_right-light { background-image: url('png/chevron_right-light.png'); background-repeat: no-repeat; }

.icon-chevron_right { background-image: url('png/chevron_right.png'); background-repeat: no-repeat; }

.icon-clear-blueMiddle { background-image: url('png/clear-blueMiddle.png'); background-repeat: no-repeat; }

.icon-clear-light { background-image: url('png/clear-light.png'); background-repeat: no-repeat; }

.icon-clear { background-image: url('png/clear.png'); background-repeat: no-repeat; }

.icon-create-blueMiddle { background-image: url('png/create-blueMiddle.png'); background-repeat: no-repeat; }

.icon-create-light { background-image: url('png/create-light.png'); background-repeat: no-repeat; }

.icon-create { background-image: url('png/create.png'); background-repeat: no-repeat; }

.icon-delete-blueMiddle { background-image: url('png/delete-blueMiddle.png'); background-repeat: no-repeat; }

.icon-delete-light { background-image: url('png/delete-light.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('png/delete.png'); background-repeat: no-repeat; }

.icon-desktop_windows-blueMiddle { background-image: url('png/desktop_windows-blueMiddle.png'); background-repeat: no-repeat; }

.icon-desktop_windows-light { background-image: url('png/desktop_windows-light.png'); background-repeat: no-repeat; }

.icon-desktop_windows { background-image: url('png/desktop_windows.png'); background-repeat: no-repeat; }

.icon-email-blueMiddle { background-image: url('png/email-blueMiddle.png'); background-repeat: no-repeat; }

.icon-email-light { background-image: url('png/email-light.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-error-blueMiddle { background-image: url('png/error-blueMiddle.png'); background-repeat: no-repeat; }

.icon-error-light { background-image: url('png/error-light.png'); background-repeat: no-repeat; }

.icon-error { background-image: url('png/error.png'); background-repeat: no-repeat; }

.icon-exit_to_app-blueMiddle { background-image: url('png/exit_to_app-blueMiddle.png'); background-repeat: no-repeat; }

.icon-exit_to_app-light { background-image: url('png/exit_to_app-light.png'); background-repeat: no-repeat; }

.icon-exit_to_app { background-image: url('png/exit_to_app.png'); background-repeat: no-repeat; }

.icon-expand_less-blueMiddle { background-image: url('png/expand_less-blueMiddle.png'); background-repeat: no-repeat; }

.icon-expand_less-light { background-image: url('png/expand_less-light.png'); background-repeat: no-repeat; }

.icon-expand_less { background-image: url('png/expand_less.png'); background-repeat: no-repeat; }

.icon-expand_more-blueMiddle { background-image: url('png/expand_more-blueMiddle.png'); background-repeat: no-repeat; }

.icon-expand_more-light { background-image: url('png/expand_more-light.png'); background-repeat: no-repeat; }

.icon-expand_more { background-image: url('png/expand_more.png'); background-repeat: no-repeat; }

.icon-home-blueMiddle { background-image: url('png/home-blueMiddle.png'); background-repeat: no-repeat; }

.icon-home-light { background-image: url('png/home-light.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.icon-inbox-blueMiddle { background-image: url('png/inbox-blueMiddle.png'); background-repeat: no-repeat; }

.icon-inbox-light { background-image: url('png/inbox-light.png'); background-repeat: no-repeat; }

.icon-inbox { background-image: url('png/inbox.png'); background-repeat: no-repeat; }

.icon-info-blueMiddle { background-image: url('png/info-blueMiddle.png'); background-repeat: no-repeat; }

.icon-info-light { background-image: url('png/info-light.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('png/info.png'); background-repeat: no-repeat; }

.icon-kalenterivaraus-pieni { background-image: url('png/kalenterivaraus-pieni.png'); background-repeat: no-repeat; }

.icon-kalenterivaraus-uusi-pieni { background-image: url('png/kalenterivaraus-uusi-pieni.png'); background-repeat: no-repeat; }

.icon-kalenterivaraus-uusi { background-image: url('png/kalenterivaraus-uusi.png'); background-repeat: no-repeat; }

.icon-kalenterivaraus { background-image: url('png/kalenterivaraus.png'); background-repeat: no-repeat; }

.icon-kansio-0 { background-image: url('png/kansio-0.png'); background-repeat: no-repeat; }

.icon-kansio-1 { background-image: url('png/kansio-1.png'); background-repeat: no-repeat; }

.icon-kansio-2 { background-image: url('png/kansio-2.png'); background-repeat: no-repeat; }

.icon-kansio-3 { background-image: url('png/kansio-3.png'); background-repeat: no-repeat; }

.icon-kansio-4 { background-image: url('png/kansio-4.png'); background-repeat: no-repeat; }

.icon-kansio-5 { background-image: url('png/kansio-5.png'); background-repeat: no-repeat; }

.icon-kansio-6 { background-image: url('png/kansio-6.png'); background-repeat: no-repeat; }

.icon-kansio-7 { background-image: url('png/kansio-7.png'); background-repeat: no-repeat; }

.icon-kansio-8 { background-image: url('png/kansio-8.png'); background-repeat: no-repeat; }

.icon-kansio-9 { background-image: url('png/kansio-9.png'); background-repeat: no-repeat; }

.icon-kansio-9plus { background-image: url('png/kansio-9plus.png'); background-repeat: no-repeat; }

.icon-kirje-pieni { background-image: url('png/kirje-pieni.png'); background-repeat: no-repeat; }

.icon-kirje-uusi-pieni { background-image: url('png/kirje-uusi-pieni.png'); background-repeat: no-repeat; }

.icon-kirje-uusi { background-image: url('png/kirje-uusi.png'); background-repeat: no-repeat; }

.icon-kirje { background-image: url('png/kirje.png'); background-repeat: no-repeat; }

.icon-language-blueMiddle { background-image: url('png/language-blueMiddle.png'); background-repeat: no-repeat; }

.icon-language-light { background-image: url('png/language-light.png'); background-repeat: no-repeat; }

.icon-language { background-image: url('png/language.png'); background-repeat: no-repeat; }

.icon-logout-blueMiddle { background-image: url('png/logout-blueMiddle.png'); background-repeat: no-repeat; }

.icon-logout-light { background-image: url('png/logout-light.png'); background-repeat: no-repeat; }

.icon-logout { background-image: url('png/logout.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-open_in_new-blueMiddle { background-image: url('png/open_in_new-blueMiddle.png'); background-repeat: no-repeat; }

.icon-open_in_new-light { background-image: url('png/open_in_new-light.png'); background-repeat: no-repeat; }

.icon-open_in_new { background-image: url('png/open_in_new.png'); background-repeat: no-repeat; }

.icon-phone_iphone-blueMiddle { background-image: url('png/phone_iphone-blueMiddle.png'); background-repeat: no-repeat; }

.icon-phone_iphone-light { background-image: url('png/phone_iphone-light.png'); background-repeat: no-repeat; }

.icon-phone_iphone { background-image: url('png/phone_iphone.png'); background-repeat: no-repeat; }

.icon-pilleri { background-image: url('png/pilleri.png'); background-repeat: no-repeat; }

.icon-polku-1vaihe-eitoteutunut { background-image: url('png/polku-1vaihe-eitoteutunut.png'); background-repeat: no-repeat; }

.icon-polku-1vaihe-seuraava { background-image: url('png/polku-1vaihe-seuraava.png'); background-repeat: no-repeat; }

.icon-polku-1vaihe-toteutunut { background-image: url('png/polku-1vaihe-toteutunut.png'); background-repeat: no-repeat; }

.icon-polku-1vaihe-vahvistamaton { background-image: url('png/polku-1vaihe-vahvistamaton.png'); background-repeat: no-repeat; }

.icon-polku-1vaihe-vahvistettu { background-image: url('png/polku-1vaihe-vahvistettu.png'); background-repeat: no-repeat; }

.icon-polku-eimaaritetty { background-image: url('png/polku-eimaaritetty.png'); background-repeat: no-repeat; }

.icon-polku-toteutumaton { background-image: url('png/polku-toteutumaton.png'); background-repeat: no-repeat; }

.icon-polku-toteutunut { background-image: url('png/polku-toteutunut.png'); background-repeat: no-repeat; }

.icon-polku-tuleva-vahvistettu { background-image: url('png/polku-tuleva-vahvistettu.png'); background-repeat: no-repeat; }

.icon-polku-vahvistamaton { background-image: url('png/polku-vahvistamaton.png'); background-repeat: no-repeat; }

.icon-polku-vahvistettu { background-image: url('png/polku-vahvistettu.png'); background-repeat: no-repeat; }

.icon-pullo { background-image: url('png/pullo.png'); background-repeat: no-repeat; }

.icon-remove-blueMiddle { background-image: url('png/remove-blueMiddle.png'); background-repeat: no-repeat; }

.icon-remove-light { background-image: url('png/remove-light.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('png/remove.png'); background-repeat: no-repeat; }

.icon-savuke { background-image: url('png/savuke.png'); background-repeat: no-repeat; }

.icon-savukeaski { background-image: url('png/savukeaski.png'); background-repeat: no-repeat; }

.icon-search-blueMiddle { background-image: url('png/search-blueMiddle.png'); background-repeat: no-repeat; }

.icon-search-light { background-image: url('png/search-light.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-send-blueMiddle { background-image: url('png/send-blueMiddle.png'); background-repeat: no-repeat; }

.icon-send-light { background-image: url('png/send-light.png'); background-repeat: no-repeat; }

.icon-send { background-image: url('png/send.png'); background-repeat: no-repeat; }

.icon-tablet-blueMiddle { background-image: url('png/tablet-blueMiddle.png'); background-repeat: no-repeat; }

.icon-tablet-light { background-image: url('png/tablet-light.png'); background-repeat: no-repeat; }

.icon-tablet { background-image: url('png/tablet.png'); background-repeat: no-repeat; }

.icon-tiedote-uusi { background-image: url('png/tiedote-uusi.png'); background-repeat: no-repeat; }

.icon-tiedote { background-image: url('png/tiedote.png'); background-repeat: no-repeat; }

.icon-vastauspyynto-pieni { background-image: url('png/vastauspyynto-pieni.png'); background-repeat: no-repeat; }

.icon-vastauspyynto-uusi-pieni { background-image: url('png/vastauspyynto-uusi-pieni.png'); background-repeat: no-repeat; }

.icon-vastauspyynto-uusi { background-image: url('png/vastauspyynto-uusi.png'); background-repeat: no-repeat; }

.icon-vastauspyynto { background-image: url('png/vastauspyynto.png'); background-repeat: no-repeat; }

.icon-viesti-uusi { background-image: url('png/viesti-uusi.png'); background-repeat: no-repeat; }

.icon-viesti { background-image: url('png/viesti.png'); background-repeat: no-repeat; }

.icon-warning-blueMiddle { background-image: url('png/warning-blueMiddle.png'); background-repeat: no-repeat; }

.icon-warning-light { background-image: url('png/warning-light.png'); background-repeat: no-repeat; }

.icon-warning { background-image: url('png/warning.png'); background-repeat: no-repeat; }

